<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="static-url" content="{{ url_for('static', filename='') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
        <title>{% block title %}智能康训系统{% endblock %}</title>
        <!-- 引入Vue.js -->
        <script src="{{url_for('static', filename='js/vue@2.6.14.js') }}"></script>
        <!-- 引入字体图标 -->
        <link rel="stylesheet"  href="{{ url_for('static', filename='css/fontawesome/css/all.min.css') }}">
        <!-- 页面主CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block extra_css %}{% endblock %}
        <!-- 页面特定JS -->
        {% block extra_js %}{% endblock %}
        <!-- 在head部分添加Chart.js库 -->
        <script src="{{ url_for('static', filename='js/chart@2.9.4.js') }}"></script>
    </head>

<body>
    <div id="app">

        <!-- 导航栏样式 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <div class="navbar">
            <!-- 导航栏 -->
        {% include 'includes/navbar.html' %}
        </div>
        
        <!-- 主要内容 -->
        <div class="container">
        {% block content %}{% endblock %}
        </div>

        <!-- 页脚样式 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <div class="footer">
            <!-- 页脚 -->
            {% include 'includes/footer.html' %}
        </div>
    </div>
    
    {% block scripts %}
    <!-- 导航栏js -->
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <!-- 页脚js -->
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    {% endblock %}
</body>
</html>